<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header th:replace="~{layout-header :: header}"></header>
<main>
  <h2>We have [[${personLists.size()}]] people in the system</h2>
  <ul>
    <li th:each="personList: ${personLists}">
      <p><a th:href="|/person/${personList.id}|"
            th:text="${personList.id + ', ' + personList.firstName + ' ' + personList.lastName}"></a></p>
    </li>
  </ul>
  <p><a href="/person/create">New person</a></p>
</main>
</body>
</html>